<div class="card">
  <div class="card-body">
    <form [formGroup]="form">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Endereço de email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
               formControlName="email">
        <div id="emailHelp" class="form-text">Nós não vamos compartilhar seu email com ninguém.</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Senha</label>
        <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Manter logado</label>
      </div>
      <button type="submit" class="btn btn-primary" (click)="login()">Entrar</button>
    </form>

  </div>

</div>
